/* You can add global styles to this file, and also import other style files */
.card {
    width: 400px;
    border-radius: 5px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    margin: auto;
}